/* HeroesComponent's private CSS styles */
.wrapper {
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr 1fr;

    grid-auto-rows: minmax(100px,auto);

}
.hero-list {
    grid-column: 2;
    grid-row: 2;
}
.hero-list > h1 {
    text-align: center;

}

.hero-details {
    grid-column: 3;
    grid-row: 2;
    background-color: #CCC;
    text-align: center;

}
.heroes {

    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 1em;
    width: 15em;
  }
  .heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: 1em;
    height: 1.6em;
    border-radius: 4px;
  }
  .heroes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .heroes li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .heroes li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }